/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* generics */
body {
    font-family: sans-serif;
}

/* utils */
.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 40px;
}


/* navbar */
#logo-train {
    width: 40px;
}


/* debug */
.debug .container {
    border: 2px solid black;
    border-radius: 10px;
}

.debug .row {
    border: 2px solid red;
    padding: 24px;
    border-radius: 10px;
}

.debug .row>* {
    border: 2px solid cornflowerblue;
    padding: 24px;
    border-radius: 10px;
}


